* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
}

button {
  padding: 8px;

  &:hover {
    cursor: pointer;
  }

  background-color: grey;
  color: white;
}

img {
  height: 150px;
  width: 150px;
}
h1,
h2 {
  color: white;
  margin: 10px 0;
}

h3 {
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: white;
}

// navbar start
.nav-container {
  position: sticky;
  top: 0;
}

.nav-container,
.info {
  background-color: grey;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;

  div {
    &:hover {
      cursor: pointer;
    }

    color: white;
  }
}

.cart {
  position: relative;
}

#cart_items {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
  position: absolute;
  padding: 0 6px;
  top: -15px;
  right: -13px;
  border-radius: 50%;
}
.nav-links{
  display: flex;
  gap: 20px;
}

// data-container section

#cart-container,
#data-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  min-height: 64.8vh;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  width: 300px;
  padding: 10px;
}

.counter {
  display: none;
}

.addItem,
.removeItem {
  margin: 0 10px;
}

.price {
  margin: 5px 0 10px 0;
}

// ---- cart page style -----

.total {
  position: static;
  bottom: 0;
  background-color: gray;
  padding-left: 20px;
  padding-top: 15px;

  button {
    background-color: white;
    color: black;
    margin-bottom: 20px;
  }
}

//-----------login-------

input {
  width: 100%;
  height: 50px;
  margin: 10px;
  padding-left: 10px;
  border-radius: 3px;
  outline: none;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: gray;
  button {
    background-color: rgb(27, 193, 181);
    padding: 15px 30px;
    border-radius: 3px;
    display: block;
    margin: 20px auto;
  }

  div{
    margin-top: 50px;
  }
}
#otpData , #signupData{
  display: none;
  h3{
    color: white;
  }
  input{
    width: 50%;
  }
}


