* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 90%;
  margin: auto;
}

button {
  padding: 8px;

  &:hover {
    cursor: pointer;
  }

  background-color: grey;
  color: white;
}

img {
  height: 150px;
  width: 150px;
}

h1,
h2 {
  color: white;
  margin: 10px 0;
}

h3 {
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: white;
}

form {
  a {
    margin-left: 10px;
    color: blue;
  }
  margin-bottom: 50px;
}

// navbar start
.nav-container {
  position: sticky;
  z-index: 5;
  top: 0;
}

.nav-container,
.info {
  background-color: grey;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  div {
    &:hover {
      cursor: pointer;
    }

    color: white;
  }
}

#searchItems {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  order: 1;
  input {
    padding: 10px;
    width: 100%;
    border: 0;
  }
}

.cart {
  position: relative;
}

#cartItems {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
  position: absolute;
  padding: 0 6px;
  top: -15px;
  right: -13px;
  border-radius: 50%;
}

.nav-links {
  display: flex;
  gap: 20px;
}

// categories section

.categories_container {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 115px;
  padding: 10px 0;
  background-color: white;
  margin-bottom: 20px;
}

#categories {
  display: flex;
  gap: 15px;
  span {
    padding-bottom: 5px;
    border-bottom: 3px solid white;
    &:hover {
      cursor: pointer;
      border-bottom: 3px solid grey !important;
    }
    font-size: 13px;
  }
}

// carousel section

.carousel {
  position: relative;
  margin-bottom: 20px;
}

.carouselOfImage {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.carouselImage {
  width: 100%;
  object-fit: cover;
}

#previousButton,
#nextButton {
  background-color: transparent;
  color: gray;
  border: 0;
  font-size: 38px;
  position: absolute;
  z-index: 4;
  bottom: 50%;
  transform: translateY(50%);
}

#nextButton {
  right: 5%;
}
#previousButton {
  left: 5%;
}

.dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: gray;
  margin-bottom: 2px;
}

.dotsContainer {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%);
  z-index: 3;
  background-color: #46444345;
  padding: 0 10px;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
  }
}

// data-container section

#cartContainer,
#dataContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  min-height: 72.5vh;
  align-items: center;
  justify-content: center;
}

#dataContainer {
  min-height: fit-content;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  width: 300px;
  padding: 10px;
}

.counter {
  display: none;
}

.addItem,
.removeItem {
  margin: 0 10px;
}

.price {
  margin: 5px 0 10px 0;
}

// footer section
.footer {
  background-color: gray;
  display: flex;
  margin-top: 20px;
  height: 30px;
  align-items: center;
}

.footerItems {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: white;
}

.footerLinks {
  display: flex;
  gap: 15px;
}

// ---- cart page style -----

.total {
  position: static;
  bottom: 0;
  background-color: gray;
  padding-left: 20px;
  padding-top: 15px;

  button {
    background-color: white;
    color: black;
    margin-bottom: 20px;
  }
}

//-----------login-------

input {
  padding:20px 10px ;
  margin: 10px;
  border-radius: 3px;
  outline: none;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: white;

  button {
    background-color: white;
    color: black;
    padding: 15px 30px;
    border-radius: 3px;
    display: block;
    margin: 20px auto;
  }

  h1 {
    color: black;
    margin: 0 50px 50px 50px;
  }

  input {
    width: 60%;
  }
}

.form-container {
  border-radius: 10px;
  background-color: white;
  button {
    background-color: gray;
    color: white;
  }
  div {
    margin-top: 50px;
  }
}

#otpData,
#signupData {
  display: none;
  h3 {
    color: white;
  }
}

#loginData {
  input {
    width: 60%;
    margin: 10px 50px;
  }
}

@media (min-width: 530px) {
  // navbar section
  #searchItems {
    order: 0;
    margin-top: 0;
    input {
      width: 85%;
    }
  }

  // carousel section
  .carouselImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  // categories section
  .categories_container {
    top: 90px;
  }
  #categories {
    span {
      font-size: 18px;
    }
  }

  // login page
  .form-section {
    background-color: gray;
  }
}
